/* main css */
.main {
  @apply flex-1 w-full min-h-screen duration-300;
}

.main_content {
  @apply px-5 pt-10 md:px-10 lg:py-10;
}

body.sidebar-collapsed {
  --sidebar-width: 0px;
}
body:not(.sidebar-collapsed) {
  --sidebar-width: 250px;
}

@screen lg {
  body.sidebar-collapsed {
    --sidebar-width: 58px;
  }
  body:not(.sidebar-collapsed) {
    --sidebar-width: 250px;
  }
  .main {
    margin-left: var(--sidebar-width);
  }
}

/* sidebar collaped */
body.sidebar-collapsed .sidebar {
  @apply w-0 lg:w-auto;
}
body.sidebar-collapsed .sidebar .sidebar_container {
  @apply px-0 lg:px-2;
}
body.sidebar-collapsed .sidebar .sidebar_item,
body.sidebar-collapsed .sidebar .sidebar_links_item {
  @apply justify-start rounded;
}
body.sidebar-collapsed .sidebar .sidebar_item {
  @apply p-1;
}
body.sidebar-collapsed .sidebar .title {
  @apply hidden;
}
body.sidebar-collapsed .sidebar .icon {
  @apply text-lg;
}
