/* main css */
.main {
  @apply flex-1 w-full min-h-screen duration-300;
}

.main_content {
  @apply px-5 pt-10 md:px-10 lg:py-10;
}

/* layout */

/* body:not([data-sidebar="true"]) {
  --sidebar-width: 0px;
}
body[data-sidebar="true"] {
  --sidebar-width: 250px;
} */

@screen sm {
  body:not([data-sidebar="true"]) {
    --sidebar-width: 58px;
  }
  body[data-sidebar="true"] {
    --sidebar-width: 250px;
  }

  body:not([data-sidebar="true"]) .main {
    @apply ml-[var(--sidebar-width)];
  }

  body[data-sidebar="true"] .main {
    @apply lg:ml-[var(--sidebar-width)];
  }
}

/* sidebar collaped */
body:not([data-sidebar="true"]) .sidebar {
  @apply w-auto;
}
body:not([data-sidebar="true"]) .sidebar .sidebar_container {
  @apply px-2;
}
body:not([data-sidebar="true"]) .sidebar .sidebar_item,
body:not([data-sidebar="true"]) .sidebar .sidebar_links_item {
  @apply justify-start rounded;
}
body:not([data-sidebar="true"]) .sidebar .sidebar_item {
  @apply p-1;
}
body:not([data-sidebar="true"]) .sidebar .sidebar_links_item {
  @apply p-2.5;
}
body:not([data-sidebar="true"]) .sidebar .title {
  @apply hidden;
}
body:not([data-sidebar="true"]) .sidebar .sidebar_item .icon {
  @apply text-lg;
}
body:not([data-sidebar="true"]) .sidebar .sidebar_links_item .icon {
  @apply text-xl;
}
