/* transection head */
.transection_head {
  @apply flex justify-between items-center gap-4;
}

/* transection header search */

.transection_head_search {
  @apply relative;
}

.transection_head_search > input {
  @apply w-full pl-10 dark:bg-slate-700;
}

.transection_head_search > .icon {
  @apply pointer-events-none absolute left-3 top-2/4 -translate-y-2/4 text-gray-500;
}

/* transections header actions */
.transection_head_actions {
  @apply flex items-center gap-1 md:gap-2;
}

/* transection header row */
.transection_head_row {
  @apply bg-slate-200 dark:bg-slate-700;
}

.transection_head_row > th {
  @apply text-start px-3 py-1.5 sm:p-3 border-r border-r-gray-300 dark:border-r-gray-500 text-[15px] sm:text-base last:border-r-0;
}

.transection_head_row > th input[type="checkbox"] {
  @apply outline-none
    focus:outline-none ring-0 focus:ring-0;
}

.transection_head_row > th:first-child,
.transection_head_row > th:last-child {
  @apply text-center px-2;
}

/* transection body row */

.transection_body_row {
  @apply bg-white border-t border-t-gray-200 dark:bg-slate-800 dark:border-t-gray-700;
}
.transection_body_row > td {
  @apply px-2.5 py-1.5 p-3 border-r text-sm sm:text-base border-r-gray-200 dark:border-r-gray-700 whitespace-nowrap;
}

.transection_body_row > td:first-child {
  @apply px-2;
}
.transection_body_row > td input[type="checkbox"] {
  @apply outline-none
  focus:outline-none ring-0 focus:ring-0;
}
.transection_body_row.income > td input[type="checkbox"] {
  @apply text-green-500;
}
.transection_body_row.expense > td input[type="checkbox"] {
  @apply text-red-500;
}

.transection_type {
  @apply px-2 py-1 text-xs sm:text-sm rounded-sm;
}

.income .transection_type {
  @apply bg-green-500 font-medium text-white;
}

.expense .transection_type {
  @apply bg-red-500 font-medium text-white;
}
